<div class="mission_section_outer q1 m_<%- id %>">
<table class=section_outer><tr>
  <td class=game-img> <img src="<%- img %>">
<td style="width: 100%;"><div class=section_inner>
  <div class="mission_header"><%- id %>: <%= name %> <span class="section_total" id="q_<%- id %>_s"/><span id="q_<%- id %>_err"/></div>
<% for (i in items) { %>
  <div class="mission_row">
 <% var this_item = typeof(items[i]) === 'string' ?
      { label: items[i], 
        control: '<input type="checkbox" id="<'+'%- task_id %'+'>" reset_value=""/>' } 
      : items[i];
 %>
    <div class=mission_label>
      <%= this_item.label %>
    </div>
    <div class=mission_control><span style="display: inline-block; margin-left: 1ex;">
      <%= _.template(this_item.control)({ mission_id: id, task_id: i }) %>
    </span></div>
    <div style="clear: both;"/>
  </div>
<% } %>
</div></td></tr></table></div></tr></table>
